:root {
  --theme-text: #2f404f;
  --theme-background: #fff;
  --theme-error: #d32f2f;
}

.center-image {
  display: block;
  margin: 0 auto;
}

.rotate-me {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes circle-out {
  0% {
    clip-path: circle(20%);
  }
  100% {
    clip-path: circle(80%);
  }
}

@keyframes clickEffect {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

html,
body {
  background: #F2F2F2;
}

.content {
  margin: 10px;
  background: #fff;
  border-radius: 16px;
}

@media (max-width: 600px) {
  .content {
    border-radius: 0;
    margin: 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
}

* {
  box-sizing: border-box;
}

h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --font-family-sans-serif: 'Work Sans', sans-serif;
}

html,
body {
  font-family: var(--font-family-sans-serif) !important;
  color: var(--theme-text);
  color: #222;
  font-weight: 400;
}

.experiencia {
  background-color: #e65050;
  clip-path: polygon(50% 0%, 80% 10%, 100% 0, 100% 100%, 79% 100%, 53% 100%, 18% 100%, 0 100%, 0 0, 20% 10%);
}

.experiencia .conteudo {
  max-width: 1242px;
  margin: 0 auto;
  padding: 150px 0 5px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.funcoes-atuais {
  max-width: 1242px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.funcoes-atuais .card {
  flex: 1 1 100px;
  margin: 5px 10px;
  min-height: 369px;
}

.experiencia-anterior {
  max-width: 1042px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.experiencia-anterior .card {
  flex: 1 1 300px;
  margin: 5px 10px;
  min-height: 469px;
}

.inicio {
  background-color: #e65050;
  height: 85vh;
  animation: circle-out .65s;
}

.inicio .conteudo {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.inicio .conteudo .textos {
  flex: 11 1 100px;
}

.inicio .conteudo .textos h1 {
  text-align: center;
  font-size: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio .conteudo .textos p {
  text-align: center;
  font-size: 1.5em;
}

.inicio .conteudo .textos .bandeira {
  display: inline;
  vertical-align: center;
  margin: 10px;
  width: 1em;
  height: 1em;
}

@media (max-width: 600px) {
  .inicio .conteudo .textos .bandeira {
    display: none;
  }
}

.menu-bg {
  background-color: #fff;
  border-radius: 500px;
}

.menu {
  max-width: 1800px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: black;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu nav ul a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
  transition: all .1s;
  outline: 0;
}

.menu nav ul a:hover {
  outline: solid #000 1px;
}

.menu nav ul a:active {
  color: #e65050;
  outline: solid #e65050 1px;
}

.menu nav ul .seletor:hover {
  outline: 0;
}

.menu nav ul img {
  width: 36px;
  height: 27px;
}

.sobre {
  background-color: #fff;
}

.sobre .conteudo {
  max-width: 1242px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sobre-info {
  flex: 11 1 100px;
  margin: 0px 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: .5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-info a {
  color: inherit;
  border-bottom: solid 1px #d32f2f;
  transition: font-weight .4s ease-out, text-shadow .4s ease-out, color .8s ease-out;
  font-weight: 200;
}

.sobre-info a:hover {
  font-weight: bolder;
  color: #d32f2f;
  text-shadow: 1px 1px 0px #dfdfdf, 2px 2px 0px #dfdfdf, 3px 3px 0px #dfdfdf;
}

.sobre-img {
  flex: 1 1 329px;
  margin: 0 10px;
}

.sobre-img img {
  height: auto;
}

@media (max-width: 1366px) {
  .sobre-img {
    display: none;
  }
}

.portifolio {
  background-color: #fff;
}

.portifolio .conteudo {
  max-width: 1242px;
  margin: 0 auto;
  padding: 40px 10px 5px 10px;
}

.portifolio .conteudo h1 {
  text-align: center;
}

.portifolio .conteudo .vejamais {
  margin-top: 5px;
}

.portifolio .conteudo .projetos {
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.portifolio .conteudo .projetos .card-img {
  flex: 1 1 300px;
  margin: 5px 10px;
}

.rodape {
  margin-top: 30px;
  background-color: #e65050;
  border-radius: 0px 0px 5px 5px;
}

.rodape .rodape-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rodape .rodape-wrapper li {
  font-size: 1.25em;
  color: #fff;
}

@media (max-width: 600px) {
  .rodape {
    border-radius: 0;
    margin: 0;
  }
}

.badge {
  color: #000;
  background-color: #e65050;
  display: inline-block;
  padding: .3em .4em;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 11px 0 rgba(0, 0, 0, 0.15);
}

.card-title {
  padding-bottom: 25px;
}

.card-img {
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 11px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  text-align: center;
  color: white;
}

.card-img:hover .info {
  opacity: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-img .img {
  z-index: 1;
}

.card-img .info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #d32f2fd3;
}

.md-input {
  position: relative;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.md-input label {
  font-weight: 300;
  position: absolute;
  display: block;
  top: 10px;
  font-size: 1.20rem;
  transition: .3s ease-in-out;
}

.md-input input {
  display: block;
  width: 100%;
  font-size: 1rem;
  height: calc(2rem + 2px);
  border: 0;
  -webkit-appearance: none;
  box-shadow: none !important;
  outline: none;
  color: black;
  border-bottom: rgba(0, 0, 0, 0.15) solid 2px;
  caret-color: #1375e4;
}

.md-input input:focus {
  border-bottom: #1375e4 solid 2px;
}

input:valid + label,
input:focus + label {
  top: -12px;
  pointer-events: none;
  font-size: 0.85rem;
}

input:focus + label {
  color: #1375e4;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 0.7em 1rem;
  border: 0;
  background-color: white;
  transition: .6s ease-in-out;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  overflow: hidden;
}

.btn:hover, .btn-round:hover {
  box-shadow: 0 4px 65px rgba(0, 0, 0, 0.23);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:active, .btn:focus {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.55);
}

.btn:after {
  display: none;
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.35);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation: clickEffect 1s;
  opacity: 0;
}

.btn:focus:after, .btn:active:after {
  display: block;
}

.btn-primary {
  color: #fff;
  background-color: #6002ee;
}

.btn-outline-primary {
  background-color: transparent;
  color: #222222;
  border: 1px solid #6002ee;
}

.btn-accent {
  color: #fff;
  background-color: #ee6002;
}

.btn-outline-accent {
  background-color: transparent;
  color: #222222;
  border: 1px solid #ee6002;
}

.btn-blue {
  color: #fff;
  background-color: #1565c0;
}

.btn-outline-blue {
  background-color: transparent;
  color: #222222;
  border: 1px solid #1565c0;
}

.btn-yellow {
  color: #fff;
  background-color: #fbc02d;
}

.btn-outline-yellow {
  background-color: transparent;
  color: #222222;
  border: 1px solid #fbc02d;
}

.btn-green {
  color: #fff;
  background-color: lime;
}

.btn-outline-green {
  background-color: transparent;
  color: #222222;
  border: 1px solid lime;
}

.projeto-texto {
  font-size: 2.5em;
}

.img-responsiva {
  max-width: 100%;
  height: auto;
}

.container-projetos {
  max-width: 1242px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.container-projetos .col {
  flex: 1 1 329px;
  padding: 5px 15px;
}

.projeto-botoes {
  margin-top: 10px;
}

.container-projetos .h3 {
  font-size: 1.75em;
}

.container-projetos .showcase__description {
  font-size: 1.25em;
}

.projeto-titulo {
  font-size: 3em;
  text-align: center;
  color: white;
}
