// Colors

// SCSS Color Variables | Named with this: http://chir.ag/projects/name-that-color
$primary-color: #e65050;
$secondary-color: #6002ee;
$background-color: #fff;
$outer-background-color: #d8d8d8;

$alert-error: #d92b2b;

$header-color: #222;
$text-light: #7c7c7c;
$text-dark: #222;
$text-white: #fff;

$envs: (
    'dev': #707070,
    'beta': $secondary-color,
);
