// SCSS Variables (except the color variables)

// General
$positions: top, right, bottom, left;
$zindex: 2147483647;

// Font Sizes
$f1: 50px;
$f2: 44px;
$f3: 40px;
$f4: 36px;
$f5: 30px;
$f6: 24px;
$f7: 21px;
$f8: 18px;
$f9: 16px;
$f10: 14px;
$f11: 12px;
$f12: 9px;

// Spaces Size, used for margin and padding
$s1: 0.05rem;
$s2: 0.1rem;
$s3: 0.15rem;
$s4: 0.25rem;
$s5: 0.5rem;
$s6: 1rem;
$s7: 1.5rem;
$s8: 2rem;
$s9: 2.5rem;
$s10: 3rem;
$s11: 3.5rem;
$s12: 4rem;