<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Rafael Faustini</title>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="scss/styles.min.css?refresh2" media="screen" />
    </head>
    <body>
        <div id="app" class="content" v-if="textos" v-cloak>
            <modal ref="modalLang">
                <h2 class="f2">Please select an option</h2>
                <p class="f7 my-7">We've detected that you are accessing from a non portuguese speaker location, choose the language that you feel more comfortable</p>
                <button class="btn btn-primary f9" @click="choosePortuguese()">Português</button>
                <button class="btn btn-secondary f9" @click="chooseEnglish();">English</button>
            </modal>
            <header class="menu-bg">
                <div class="menu">
                    <div class="menu-logo"><a>{{textos.navbar.brand}}</a></div>
                    <nav>
                        <ul>
                            <li><a href="#inicio">{{textos.navbar.home}}</a></li>
                            <li><a href="#sobre">{{textos.navbar.about}}</a></li>
                            <li><a href="#portifolio">{{textos.navbar.projects}}</a></li>
                            <li><a href="/blog">{{textos.navbar.blog}}</a></li>
                            <li>
                                <a :href="textos.navbar.seletor.href" class="seletor"><img :src="textos.navbar.seletor.img" /></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <section class="inicio" id="inicio">
                <div class="conteudo">
                    <div class="textos">
                        <h1><img src="img/brasil.svg" class="bandeira" />{{textos.header.title}}<img src="img/italia.svg" class="bandeira" /></h1>
                        <p>{{textos.header.subtitle}}</p>
                    </div>
                </div>
            </section>
            <section class="sobre" id="sobre">
                <div class="conteudo">
                    <div class="sobre-info">
                        <h1>{{textos.about.title}}</h1>
                        <p v-for="paragraph in textos.about.paragraphs" v-html="paragraph"></p>
                    </div>
                    <div class="sobre-img">
                        <img src="img/eu.png" alt="Imagem" />
                    </div>
                </div>
            </section>
            <section class="experiencia">
                <div class="conteudo">
                    <div class="sobre-info">
                        <div class="conteudo">
                            <h1>{{textos.experience.title}}</h1>
                            <div class="funcoes-atuais">
                                <div v-for="exp in textos.experience.current" class="card">
                                    <div class="card-title">
                                        <h2>{{exp.title}}</h2>
                                    </div>
                                    <div class="card-body">
                                        <p v-for="topic in exp.topics">- {{topic}}</p>
                                        <a v-if="exp.button" :href="exp.button.href" class="btn btn-secondary">{{exp.button.text}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="experiencia-anterior">
                                <div v-for="exp in textos.experience.past" class="card">
                                    <div class="card-title"><h2>{{exp.title}}</h2></div>
                                    <div class="card-body">
                                        <p v-for="topic in exp.topics">- {{topic}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experiencia-botoes">
                                <a :href="`${textos.experience.resume.href}?${refreshcache}`" class="btn btn-lg btn-secondary">{{textos.experience.resume.text}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="portifolio" id="portifolio">
                <div class="conteudo">
                    <h1>{{textos.projects.title}}</h1>
                    <projetos :placeholder="textos.projects.searchbarPlaceholder" :dados="projetos"></projetos>
                    <div class="vejamais">
                        <a href="https://github.com/rafaelfaustini" class="btn btn-secondary">{{textos.projects.github}}</a>
                    </div>
                </div>
            </section>
            <footer class="rodape">
                <div class="rodape-wrapper">
                    <ul>
                        <li>{{textos.footer.contact}}</li>
                    </ul>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
        <script src="../geo.js"></script>
        <script src="js/Projetos.js?refreshCache2"></script>
        <script src="js/Modal.js?refreshCache2"></script>
        <script src="js/index.js?refreshCache4"></script>
    </body>
</html>
