<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Rafael Faustini</title>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="scss/styles.min.css?3.8" media="screen" />
    </head>
    <body>
        <div id="app" class="page-content" v-if="textos" v-cloak>
            <language-check v-if="!Config.isEnglish()"> </language-check>
            <alert-error ref="alertError"></alert-error>
            <header class="menu-bg" v-if="textos.navbar">
                <div class="menu">
                    <div class="menu-logo">
                        <a>{{textos.navbar.brand}} <span v-if="!Config.isProd()" :class="envBadge">{{Config?.environment.toUpperCase()}}</span></a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#header">{{textos.navbar.home}}</a></li>
                            <li><a href="#about">{{textos.navbar.about}}</a></li>
                            <li><a href="#portfolio">{{textos.navbar.projects}}</a></li>
                            <li><a href="/blog">{{textos.navbar.blog}}</a></li>
                            <li>
                                <a :href="textos.navbar.seletor.href" class="seletor"><img loading="lazy" :src="textos.navbar.seletor.img.src" :alt="textos.navbar.seletor.img.alt" /></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <section class="header" id="header" v-if="textos.header">
                <div class="content">
                    <div class="texts">
                        <h1><img loading="lazy" :alt="textos.header.flags.brazil_alt" src="img/brasil.svg" class="flag" />{{textos.header.title}}<img loading="lazy" :alt="textos.header.flags.italy_alt" src="img/italia.svg" class="flag" /></h1>
                        <p>{{textos.header.subtitle}}</p>
                    </div>
                </div>
            </section>
            <section class="about" id="about" v-if="textos.about">
                <div class="content">
                    <div class="about-info">
                        <h1>{{textos.about.title}}</h1>
                        <p v-for="paragraph in textos.about.paragraphs" v-html="paragraph"></p>
                    </div>
                    <div class="about-img">
                        <img loading="lazy" src="img/eu.png" :alt="textos.about.me.alt" />
                    </div>
                </div>
                <div class="wave-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" alt="wave">
                        <path fill="#ff5500" fill-opacity="1" d="M0,128L60,133.3C120,139,240,149,360,144C480,139,600,117,720,133.3C840,149,960,203,1080,202.7C1200,203,1320,149,1380,122.7L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
                    </svg>
                </div>
            </section>
            <section class="experience" v-if="textos.experience">
                <div class="content">
                    <div class="about-info">
                        <div class="content">
                            <h1>{{textos.experience.title}}</h1>
                            <div class="current-work" data-cy="current-works">
                                <div v-for="exp in textos.experience.current" class="card" data-cy="current-work">
                                    <div class="card-title">
                                        <h2 data-cy="current-work-title">{{exp.title}}</h2>
                                    </div>
                                    <div class="card-body">
                                        <p v-for="topic in exp.topics" data-cy="current-work-topic">- {{topic}}</p>
                                        <a v-if="exp.button" :href="exp.button.href" class="btn btn-secondary" data-cy="current-work-btn">{{exp.button.text}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="past-works" data-cy="past-works">
                                <div v-for="exp in textos.experience.past" class="card" data-cy="past-work">
                                    <div class="card-title"><h2 data-cy="past-work-title">{{exp.title}}</h2></div>
                                    <div class="card-body">
                                        <p v-for="topic in exp.topics" data-cy="past-work-topic">- {{topic}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experience-buttons">
                                <a :href="`${textos.experience.resume.href}?1619037077${refreshcache}`" class="btn btn-lg btn-secondary" data-cy="resume-button">{{textos.experience.resume.text}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="portfolio" id="portfolio" v-if="textos.projects">
                <div class="content">
                    <h1>{{textos.projects.title}}</h1>
                    <projects :placeholder="textos.projects.searchbarPlaceholder"></projects>
                    <div class="vejamais">
                        <a href="https://github.com/rafaelfaustini" class="btn btn-secondary">{{textos.projects.github}}</a>
                    </div>
                </div>
            </section>
            <footer class="footer" v-if="textos.footer">
                <div class="footer-wrapper">
                    <ul>
                        <li>{{textos.footer.contact}}</li>
                        <li v-if="Config.build?.version && !Config.isDev()"><a :href="buildVersion">{{Config.build.version}}</a></li>
                    </ul>
                </div>
            </footer>
        </div>
        <script src="libs/vue/vue.min.js"></script>
        <script src="libs/moment/moment.min.js"></script>
        <script src="libs/axios/axios.min.js"></script>
        <script src="../geo.js"></script>
        <script src="js/utils/Config.js?3.8"></script>
        <script src="js/utils/LocalStorageJSONHandler.js"></script>
        <script src="js/utils/Logger.js"></script>
        <script src="js/utils/ExceptionHandler.js?3.8"></script>
        <script src="js/utils/ContentTextManager.js?3.8"></script>
        <script src="js/components/Project.js?3.8"></script>
        <script src="js/components/Projects.js?3.8"></script>
        <script src="js/components/LanguageCheck.js?3.8"></script>
        <script src="js/components/AlertError.js?3.8"></script>
        <script src="js/components/Modal.js?3.8"></script>
        <script src="js/index.js?3.8"></script>
    </body>
</html>
