.alert {
    display: flex;
    position: fixed; 
    padding: 1em;
    overflow: hidden;

    &.error {
        color: $text-white;
        background-color: rgba($alert-error, .85);
    }
    &.top {
        top: 10px
    }

    &.bottom {
        bottom: 10px;
    }

    &.left {
        left: 10px;
    }

    &.right {
        right: 10px;
    }
}

.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
