
.card{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.18), 0 2px 11px 0 rgba(0,0,0,0.15);
}
            
.card-title{
    padding-bottom: 25px;
}

.card-img{
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.18), 0 2px 11px 0 rgba(0,0,0,0.15); 
    position: relative;
    text-align: center;
    color: white;
    &:hover .info{
        opacity: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .img{
        z-index: 1;
    }
    .info{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #d32f2fd3;
    }

}