.portfolio {
    background-color: #fff;
}

.portfolio .conteudo {
    max-width: 1242px;
    margin: 0 auto;
    padding: 40px 10px 5px 10px;
    h1 {
        text-align: center;
    }
    .vejamais {
        margin-top: 5px;
    }
}

.portfolio .conteudo .projetos {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .card-img {
        flex: 1 1 300px;
        margin: 5px 10px;
    }
}
