.rodape {
    margin-top: 30px;
    margin-bottom: 2px;
    background-color: $primary-color;
    border-radius: 0px 0px 5px 5px;
    .rodape-wrapper {
        max-width: 1400px;
        margin: 0 auto;
        padding: 25px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        li {
            font-size: 1.25em;
            color: #fff;
        }
    }
}

@media (max-width: 600px) {
    .rodape {
        border-radius: 0;
        margin: 0;
    }
}
