.sobre{
    background-color: #fff;
}
.sobre .conteudo {
    max-width: 1242px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sobre-info{
    flex: 11 1 100px;
    margin: 0px 10px;
    
    h1{
        font-size: 3em;
        margin-bottom: .5em;
    }

    p {
        font-size: 1.25em;
        line-height: 1.4;
        margin-bottom: 1em;
        color: #7c7c7c
    }

    a {
        color: inherit;
        border-bottom: solid 1px #d32f2f;
        transition: font-weight .4s ease-out, text-shadow .4s ease-out, color .8s ease-out;
        font-weight: 200;

        &:hover{
            font-weight: bolder;
            color: #d32f2f;
            text-shadow: 1px 1px 0px rgb(223, 223, 223), 2px 2px 0px rgb(223, 223, 223), 3px 3px 0px rgb(223, 223, 223);
        }
    }
}

.sobre-img{
    flex: 1 1 329px;
    margin: 0 10px;   
    img{
        //max-width: 50%;
        height: auto;
    }
}

@media (max-width: 1366px) {
    .sobre-img{
        display: none
    }
}