.badge {
	color: #000;
	background-color: $primary-color;
	display: inline-block;
	padding: 0.3em 0.4em;
	font-size: 75%;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}
