.md-input{
    position: relative;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .md-input label{
    font-weight: 300;
    position: absolute;
    display: block;
    top: 10px;
    font-size: 1.20rem;
    transition: .3s ease-in-out;
  }
  .md-input input{
    display: block;
    width: 100%;
    font-size: 1rem;
    height: calc(2rem + 2px);
    border: 0;
    -webkit-appearance:none;
    box-shadow: none !important;
    outline: none;
    color: black;
    border-bottom: rgba(0,0,0, 0.15) solid 2px;
    caret-color: rgb(19, 117, 228);
  }
  .md-input input:focus{
    border-bottom: rgb(19, 117, 228) solid 2px;
  }
  
  
  input:valid + label,
  input:focus + label {
    top: -12px;
    pointer-events: none;
    font-size: 0.85rem
  }
  
  input:focus + label{
      color: rgb(19, 117, 228);
  }