.projeto-texto{
    font-size: 2.5em;
}
.img-responsiva{
    max-width: 100%;
    height: auto;
}
.container-projetos{
    max-width: 1242px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}
.container-projetos .col{
    flex: 1 1 329px;
    padding: 5px 15px;
}
.projeto-botoes{
    margin-top: 10px;
}
.container-projetos .h3{
    font-size: 1.75em;
}
.container-projetos .showcase__description{
    font-size: 1.25em;
}
.projeto-titulo{
    font-size: 3em;
    text-align: center;
    color: white;
}