// Styles for commonly used HTML elements

// Root elements
html,
body {
	background: #F2F2F2;
}
.content{
	margin: 10px;
	background: #fff;
	border-radius: 16px;
}
@media (max-width:600px){
	.content{
		border-radius: 0;
		margin: 0;
	}
}
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Fundo */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px grey;
	border-radius: 0px;
  }
  
  /* Barra */
  ::-webkit-scrollbar-thumb {
	background: #e65050;
	border-radius: 10px;
  }