// Styles for commonly used HTML elements

// Root elements
html,
body {
	background: #F2F2F2;
}
.content{
	margin: 10px;
	background: #fff;
	border-radius: 16px;
}
@media (max-width:600px){
	.content{
		border-radius: 0;
		margin: 0;
	}
}