// Reusable Classes

// Images
.center-image {
	display: block;
	margin: 0 auto;
}

$spaces: ($s1, $s2, $s3, $s4, $s5, $s6, $s7, $s8, $s9, $s10, $s11, $s12);
$i: 1;
@each $space in $spaces{
	@include margin-size($i, $space);
	@include padding-size($i, $space);
	$i: $i + 1;
}