// Colors

// SCSS Color Variables | Named with this: http://chir.ag/projects/name-that-color
$primary-color: #e65050;
$secondary-color: #6002ee;
$background-color: #fff;
$outer-background-color: #f2f2f2;

$header-color: #222;
$text-light: #7c7c7c;
$text-dark: #222;

// Theme SCSS Color Variables
$theme-text: var(--theme-text);
$theme-background: var(--theme-background);
$theme-error: var(--theme-error);
